<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
        {{#if devoured}}EAT AGAIN LATER!{{else}}EAT NOW!{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>